<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Orders</h1>
    </div>
    <div class="align-self-end pb-1">
      <%= link_to 'Nova Ordem', new_order_path, class:"btn btn-primary p-2 bd-highlight" %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Serviço</th>
      <th>Quantidade</th>
      <th>Funcionário</th>
      <th>Data</th>
      <th>Ínicio</th>
      <th>Conclusão</th>
      <th>Detalhe</th>
      <th>Mostrar</th>
      <th>Editar</th>
      <th>Excluir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.service.descricao %></td>
        <td><%= order.quantidade %></td>
        <td><%= order.employee %></td>
        <td><%= order.data %></td>
        <td><%= order.horaInicio.to_time.strftime('%H:%M:%S') %></td>
        <td><%= order.horaFim.to_time.strftime('%H:%M:%S') %></td>
        <td><%= order.detalhe %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="pagination justify-content-center">
<%= paginate @orders, theme: 'twitter-bootstrap-4'%>
<ul>

<br>
